@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #ffc941;
  --primary-foreground: #fefefe;
  --secondary: #f5f5f4;
  --secondary-foreground: #171717;
  --muted: #f5f5f4;
  --muted-foreground: #737373;
  --accent: #f5f5f4;
  --accent-foreground: #171717;
  --destructive: #dc2626;
  --destructive-foreground: #fefefe;
  --border: #e7e5e4;
  --input: #e7e5e4;
  --ring: #ffe550;
  --radius: 1rem;
}

.dark {
  --background: #171717;
  --foreground: #fefefe;
  --card: #171717;
  --card-foreground: #fefefe;
  --popover: #171717;
  --popover-foreground: #fefefe;
  --primary: #deb887;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fefefe;
  --muted: #262626;
  --muted-foreground: #a3a3a3;
  --accent: #262626;
  --accent-foreground: #fefefe;
  --destructive: #dc2626;
  --destructive-foreground: #fefefe;
  --border: #262626;
  --input: #262626;
  --ring: #deb887;
}

html {
  scroll-behavior: smooth;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
